body{
    background-color:#1d2124;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    color: #e66930;
}


.header{
    padding: 60px;
    color: #e66930;
    font-family: "Comic Sans MS";
    background-color: #30b2e6;
    text-align: end;
}

.navbar{
    margin-left:100px;
    margin-right: 100px;
    height: 65px;
    position:absolute;
    left:0;
    right: 0;
    background-color: #25333e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;


}

.navbar a{
    padding: 7px 7px 7px 7px;
    color: #e66930;

}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}


.searchBar{
    padding: 50px 30px 30px 30px;
}

.searchBar input{
    width: 20%;
}

.weather-icon{
    margin-top: 140px;
    text-align: center;
}

.table{
    padding-top: 175px;
    padding-bottom: 100px;
    color: #e66930;
}

.btn-dark{
    color: #e66930;
}