<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Weather app</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{http://localhost:8181/styles.css}">
    <script th:src="@{http://localhost:8181/functions.js}"></script>

</head>
<body onload="setUNIXTime()">

<!-- Header -->
<div class="header">
    <h1> Weather application </h1>
    <!-- SearchBar -->
    <div class="searchBar">
        <form th:action="@{/}" method="get">
            <input type="text" name="city" placeholder="Search for a city..">
            <button type="submit"> Search</button>
        </form>
    </div>
</div>

<!-- Navbar -->
<div class="navbar">
    <a th:href="@{/}"> Home </a>
    <a th:href="@{/historicalData}">Historical data</a>
</div>

<!-- Content  -->
<div class="content">
    <h3>Weather in <span th:text="${vejr?.name} +', '+${vejr?.sys?.country} + ' at '+${vejr?.datetimeCreated}"> By, Land </span></h3>
    <img alt="weather icon" th:src="@{'http://openweathermap.org/img/wn/' + ${weather?.icon}}+'@2x.png'">
    <h3><span th:text="${vejr?.main?.temp}"> Temperature </span> °C </h3>

    <!-- Table -->
    <div class="table">
        <table class="table table-striped">
            <thead>
            <tr>
                <td scope="col">Wind</td>
                <td><span th:text="${vejr?.wind?.speed}"> </span> m/s</td>
            </tr>
            <tr>
                <td scope="col">Cloudiness</td>
                <td><span th:text="${weather?.description}"> </span></td>
            </tr>
            <tr>
                <td scope="col">Pressure</td>
                <td><span th:text="${vejr?.main?.pressure}"> </span> hPa</td>
            </tr>
            <tr>
                <td scope="col">Humidity</td>
                <td><span th:text="${vejr?.main?.humidity}"> </span> %</td>
            </tr>
            <tr>
                <td scope="col">Sunrise</td>
                <td><span th:text="${vejr?.sys?.sunrise}+${vejr?.timezone}" class="time"> </span></td>
            </tr>
            <tr>
                <td scope="col">Sunset</td>
                <td><span th:text="${vejr?.sys?.sunset}+${vejr?.timezone}" class="time"> </span></td>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>