<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Weather app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="styles.css">

</head>
<body>
<h1>Weather in <span th:text="${vejr?.name}"> By </span></h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <td scope="col">Wind</td>
        <td> <span th:text="${vejr?.wind?.speed}"> </span> m/s </td>
    </tr>
    <tr>
        <td scope="col">Cloudiness</td>
        <td> <span th:text="${vejr?.weather[0]?.description}"> </span> </td>
    </tr>
    <tr>
        <td scope="col">Pressure</td>
        <td> <span th:text="${vejr?.main?.pressure}"> </span> hPa </td>
    </tr>
    <tr>
        <td scope="col">Humidity</td>
        <td> <span th:text="${vejr?.main?.humidity}"> </span> % </td>
    </tr>
    </thead>
</table>
<p> <span th:text="${vejr?.main?.temp}"> Temperatur </span> C </p>
<p> <span th:text="${vejr?.main?.feels_like}"> Feels like temperature </span> C </p>

</body>
</html>